body {
    text-align: center;
}

.container {
    border: 5px solid #2c3e50;
    width: 40%;
    min-width: 500px;
    margin-top: 1%;
    background: #FFF;
    padding-bottom: 10px;
}

.checkbox {
    text-align: left;
}

#colorDie {
    color: red;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
