body {
    background-color: #fafafa;
    color: #263238;
    line-height: 1.4
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
}

#header {
    background-color: #FFBA00;
    padding-left: .25em;
}

.section-header {
    font-size: 2.5em;
}

.article-header {
    text-align: center;
}

#title {
    font-size: 5em;
    margin-bottom: .5em;
}

#infographic {
    background-color: #FFBA00;
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    padding-left: .5em;
    padding-top: .5em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
