body {
    margin: 0px auto;
    background-color: #0D1111;
    color: #DFE9E9;
}
/*h1 {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-size: 72px;
}*/
#splash {
    background-color: #FF5003;
    height: 100vh;
}
.splashText {
    color: #43100B;
}