<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dwarf Fortress Arena</title>
    <!-- Bootstrap -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="dwarfFortressArena">
    <header id="header">
        <div class="container-fluid" id="landing-block">
            <img src="img/dfarenaland.png" alt="Dwarf Fortress Arena">
            <p>A Massacre of Grand Proportions</p>
            <div id="landing-nav">
                <h4><a href="#" id="contention-link"  data-toggle="modal" data-target="#contentionModal">Contentions</a></h4>
                <a href="#" data-toggle="modal" data-target="#hireModal">Hire</a> / <a href="#" data-toggle="modal" data-target="#viewModal">View</a>
            </div>
        </div>
    </header>
    <div class="modal fade" id="hireModal" tabindex="-1" role="dialog" aria-labelledby="hireModalLabel" aria-hidden="true" ng-controller="arenaHireController as arena">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Create a Gladiator</h6>
                </div>
                <div id="hire-header" class="row">
                    <div class=" col-md-6">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="form-hire-name" placeholder="Urist">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h2 id="hire-pts-amount">{{ hirePointsAmount }} pts</h2>
                    </div>
                </div>
                <section>
                    <h2>Race</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="race-option active" id='race-option-kobold'><a href="#" ng-click="setRaceKobold()">Kobold</a></li>
                        <li class="race-option" id='race-option-goblin'><a href="#" ng-click="setRaceGoblin()">Goblin</a></li>
                        <li class="race-option" id='race-option-elf'><a href="#" ng-click="setRaceElf()">Elf</a></li>
                        <li class="race-option" id='race-option-dwarf'><a href="#" ng-click="setRaceDwarf()">Dwarf</a></li>
                        <li class="race-option" id='race-option-human'><a href="#" ng-click="setRaceHuman()">Human</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Weapon</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="weapon-option" ng-repeat="armament in arena.armaments" ng-click="toggleWeapon.item = $index" ng-class="{'active' : toggleWeapon.item == $index}"><a href="#"><strong>{{ armament.price }}</strong> {{ armament.name }}</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="weapon-material-option" ng-repeat="armMaterial in arena.armMaterials" ng-click="toggleWeaponMaterial.item = $index" ng-class="{'active' : toggleWeaponMaterial.item == $index}"><a href="#"><strong>{{ armMaterial.name }}</strong> | Value Multiplier: {{ armMaterial.multi }} | Weight: {{ armMaterial.weight }} | Edge: {{ armMaterial.edge }} | Armor: {{ armMaterial.armor }}</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Armor Kit</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="armor-option active" id='armor-option-none'><a href="#">None</a></li>
                        <li class="armor-option" id='armor-option-light'><a href="#"><strong>200</strong> Light</a></li>
                        <li class="armor-option" id='armor-option-medium'><a href="#"><strong>400</strong> Medium</a></li>
                        <li class="armor-option" id='armor-option-heavy'><a href="#"><strong>600</strong> Heavy</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Skills</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="skill-option active" id='skill-option-none'><a href="#" ng-click="noSkill()">None</a></li>
                        <li class="skill-option" id='skill-option-light'><a href="#" ng-click="buySkill()"><strong>{{ skillCost }}</strong> Warrior</a></li>
                        <li class="skill-option" id='skill-option-medium'><a href="#" ng-click="buySkill()"><strong>{{ skillCost }}</strong> Rogue</a></li>
                        <li class="skill-option" id='skill-option-heavy'><a href="#" ng-click="buySkill()"><strong>{{ skillCost }}</strong> Paladin</a></li>
                    </ul>
                </section>
                <section id="hire-button-section">
                    <button class="btn btn-default" type="submit">Hire</button>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true" ng-controller="arenaViewController as arenaView">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>View Gladiators</h6>
                </div>
                <section>
                    <ul class="nav nav-pills nav-stacked">
                    <div class="row key">
                    <p class="col-md-4">Name</p>
                    <p class="col-md-4">Race</p>
                    <p class="col-md-4"><span id="contestant-wins">Wins</span> - <span id="contestant-loss">Losses</span></p>
                    </div>
                        <li class="arena-contestants" ng-repeat="contestant in arenaView.contestants">
                            <a href="#collapseContestant" class="scores" data-toggle="collapse">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>{{ contestant.name }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{ contestant.race }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><span id="contestant-wins">{{ contestant.wins }}</span> - <span id="contestant-loss">{{ contestant.losses }}</span></p>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse" id="collapseContestant">
                                <div class="well">
                                    <div>
                                        <p class="gold">1st Place Series 1</p>
                                        <p class="silver">2nd Place Series 2</p>
                                        <p>3rd Place Series 5</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contentionModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true" ng-controller="arenaContentionController as arenaContention">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>View Contentions</h6>
                </div>
                <section>
                    <ul class="nav nav-pills nav-stacked">
                    <div class="row key">
                    <p class="col-md-4">Name</p>
                    <p class="col-md-4"># Contestants</p>
                    <p class="col-md-4"># Matches Played</p>
                    </div>
                        <li class="arena-contentions" ng-repeat="contention in arenaContention.contentions">
                            <a href="#collapseContention" class="scores" data-toggle="collapse">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>{{ contention.name }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{ contention.numcontests }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{{ contention.matchnum }}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse" id="collapseContention">
                                <div class="well">
                                    <div>
                                        <p class="gold">1st Place Urist</p>
                                        <p class="silver">2nd Place Hulk</p>
                                        <p>3rd Place AndyD</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
