<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dwarf Fortress Arena</title>
    <!-- Bootstrap -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="dwarfFortressArena">
    <header id="header">
        <div class="container-fluid" id="landing-block">
            <img src="img/dfarenaland.png" alt="Dwarf Fortress Arena">
            <p>A Massacre of Grand Proportions</p>
            <div id="landing-nav">
                <a href="#" data-toggle="modal" data-target="#hireModal">Hire</a> / <a href="#">View</a>
            </div>
        </div>
    </header>
    <div class="modal fade" id="hireModal" tabindex="-1" role="dialog" aria-labelledby="hireModalLabel" aria-hidden="true" ng-controller="arenaHireController as arena">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Create a Gladiator</h6>
                </div>
                <div id="hire-header" class="row">
                    <div class=" col-md-6">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="form-hire-name" placeholder="Urist">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h2 id="hire-pts-amount">{{ hirePointsAmount }} pts</h2>
                    </div>
                </div>
                <section>
                    <h2>Race</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="race-option active" id='race-option-kobold'><a href="#" ng-click="setRaceKobold()">Kobold</a></li>
                        <li class="race-option" id='race-option-goblin'><a href="#" ng-click="setRaceGoblin()">Goblin</a></li>
                        <li class="race-option" id='race-option-elf'><a href="#" ng-click="setRaceElf()">Elf</a></li>
                        <li class="race-option" id='race-option-dwarf'><a href="#" ng-click="setRaceDwarf()">Dwarf</a></li>
                        <li class="race-option" id='race-option-human'><a href="#" ng-click="setRaceHuman()">Human</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Weapon</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="weapon-option" ng-repeat="armament in arena.armaments" ng-click="toggleWeapon.item = $index" ng-class="{'active' : toggleWeapon.item == $index}"><a href="#"><strong>{{ armament.price }}</strong> {{ armament.name }}</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="weapon-material-option" ng-repeat="armMaterial in arena.armMaterials" ng-click="toggleWeaponMaterial.item = $index" ng-class="{'active' : toggleWeaponMaterial.item == $index}"><a href="#"><strong>{{ armMaterial.name }}</strong> | Value Multiplier: {{ armMaterial.multi }} | Weight: {{ armMaterial.weight }} | Edge: {{ armMaterial.edge }} | Armor: {{ armMaterial.armor }}</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Armor Kit</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="armor-option active" id='armor-option-none'><a href="#">None</a></li>
                        <li class="armor-option" id='armor-option-light'><a href="#">Light</a></li>
                        <li class="armor-option" id='armor-option-medium'><a href="#">Medium</a></li>
                        <li class="armor-option" id='armor-option-heavy'><a href="#">Heavy</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
