<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Strelkovy Udarny</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="incrementalStrelkovy">
    <div ng-controller="strelkovyController">
        <header>
            <h1>Strelkovy Udarny</h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Glory</h2>{{strelkovyGlory | number: 0}}</div>
                <div class="col-md-3">
                    <h2>Supplies</h2>{{strelkovySupplies | number: 0}}</div>
                <div class="col-md-3">
                    <h2>Fuel</h2>{{strelkovyFuel | number: 0}}</div>
                <div class="col-md-3">
                    <h2>Martyrs</h2>{{strelkovyCasualties | number: 0}}</div>
            </div>
        </div>
        <div class="container">
            <button id="btn-make-glory" class="btn btn-default btn-lg" ng-click="makeGlory()" ng-disabled="gloryTimer==true">Attempt to Obtain Glory</button>
            <div ng-show="makeGloryPressed">
                <div class="alert alert-warning ng-hide" role="alert" ng-hide="gloryResult<5">You failed to obtain glory.</div>
                <div class="alert alert-warning ng-hide" role="alert" ng-show="gloryResult<5">Glory Gained!</div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: {{gloryTimerTime}}%;">
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Headquarters</h2>
        </div>
        <div class="container">
            <h3>Party Leader</h3>
            <div class="col-md-4">
                <h4>Units: {{numPartyLeader}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Glory Rate: +.1/s per unit | +{{numPartyLeader*.1 | number: 2}}/s total</h4>
            </div>
            <div class="col-md-4">
                <h4>Supply Rate: +3/s per unit | +{{numPartyLeader*3 | number: 2}}/s total</h4>
            </div>
            <button id="btn-hire-party-leader" class="btn btn-default" ng-click="hirePartyLeader()" ng-disabled="costPartyLeader > strelkovyGlory">{{costPartyLeader}} - Deploy Headquarters Staff</button>
        </div>
        <div class="container" ng-show="numPartyLeader >= 1">
            <h2>Infantry</h2>
        </div>
        <div class="container" ng-show="numPartyLeader >= 1">
            <h3>Partisan</h3>
            <p>A ragtag member of volunteers pulled from local villages to engage the enemy in guerilla warfare, usually small enough to remain relatively hidden among occupied territory.</p>
            <div class="col-md-4">
                <h4>Units: {{numPartisan}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Glory Rate: +.1/s per unit | +{{numPartisan*.1 | number: 2}}/s total</h4>
            </div>
            <div class="col-md-4">
                <h4>Supply Rate: -.1/s per unit | -{{numPartisan*.1 | number: 2}}/s total</h4>
            </div>
            <button id="btn-hire-partisan" class="btn btn-default" ng-click="hirePartisan()" ng-disabled="costPartisan > strelkovyGlory">{{costPartisan}} - Deploy Partisan</button>
        </div>
        <div class="container" ng-show="numPartisan >= 1">
            <h3>MG34 Grenadier</h3>
            <div class="col-md-4">
                <h4>Units: {{numPartisanSawnOff}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Glory Rate: +.1/s per unit | +{{numPartisanSawnOff*.1 | number: 2}}/s total</h4>
            </div>
            <div class="col-md-4">
                <h4>Supply Rate: -.5/s per unit | -{{numPartisanSawnOff*.5 | number: 2}}/s total</h4>
            </div>
            <button id="btn-hire-mg34-grenadier" class="btn btn-default" ng-click="hireMG34Grenadier()" ng-disabled="costMG34Grenadier >= strelkovyGlory">{{costMG34Grenadier}} - Deploy MG34 Grenadier</button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/chance.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
