body {
    background: #212121;
    font-family: 'Vollkorn', serif;
}

.container {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    min-width: 800px;
    background: #90a4ae;
    color: #212121;
    margin-bottom: .5em;
}

h1{
    font-family: 'Amatic SC';
    font-size: 4em;
}

h2 {
    margin-top: 0;
}

h1,
#resource-number {
    color: #dd2c00;
}

#resource-number {
    font-size: 3em;
}

#header {
    background: #cfd8dc;
    text-align: center;
}

.progress {
    border-radius: 0px;
    margin-top: 1em;
    background: #cfd8dc;
}

.progress-bar {
    background: #e64a19;
}

.btn {
    border-radius: 0px;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.alert {
    margin-top: 1em;
    padding: 15px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;
    background-color: #e64a19;
    color: #212121;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.section-type {
    margin-top: .35em;
}

.right {
    text-align: right;
}

#btn-upgrade-partisan {
    margin-top: 1em;
}
