body {
    padding-top: 70px;
    background-color: #fff;
}

.wrapper-rules {}

.article-rule {
    border-top: 1px solid black;
}

.article-rule img {
    margin-bottom: 1em;
}

.dropdown-menu {
    max-height: 30em;
    overflow: hidden;
    overflow-y: auto;
}