body {
    padding-top: 70px;
}

.wrapper-rules {}

.article-rule {
    border-top: 1px solid #DF691A;
}

.article-rule img {
    margin-bottom: 1em;
}

.dropdown-menu {
    max-height: 30em;
    overflow: hidden;
    overflow-y: auto;
}

.bg-errata {
    background-color: #eea16d;
    padding-left: .3em;
}